.card {
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .card-header {
    display: flex;
    border-bottom: 1px solid #e9e9e9;
    .card-title {
      flex: 1;
      font-size: 16px;
      font-weight: 500;
      color:rgba(0,0,0,0.85);
      line-height: 55px;
      margin-left: 24px;
    }
    .card-extra {
      float: right;
      font-size: 14px;
      line-height: 55px;
      margin-right: 24px;
      font-family:PingFangSC-Regular;
     
    }
  }

  .card-body{
    padding:24px;
  }

  @mixin chart-card-bg(){
    background-repeat: no-repeat;
    background-position: top right;
  }


  &.small-card {
    padding: 14px 24px 10px 24px;
    font-family: HelveticaNeue;
    color: rgba(0, 0, 0, 0.85);

    .card-title {
      color: rgba(0, 0, 0, 0.45);
    }

    .card-content {
      font-size: 30px;
      font-family: HelveticaNeue-Medium;
      margin-right: 10px;
      font-weight: 500;
      line-height: 44px;
    }


    &.chart-card {
      .card-body {
        border-bottom: 1px solid rgba(232, 232, 232, 1);
        padding:0;
        padding-bottom: 12px;
        .chart-container {
          width: 100%;
          height: 70px;
          display:flex;
          .micro-chart-wrap{
            flex:1;
          }
        }
      }
      .aside {
        font-size: 14px;
      }
      .card-footer {
        display: flex;
        justify-content: space-between;
        margin-top:9px;
        span {
          color: rgba(0, 0, 0, 0.65);
        }
      }

      
     
    }

    &.text-card {
      p {
        line-height: 52px;
      }
    }

    &.card-bg-price{
      @include chart-card-bg();
      background-image:url(home_main_price.png); 
      background-size: 65px 141px;
    }
    &.card-bg-market{
      @include chart-card-bg();
      background-image:url(home_main_market.png); 
      background-size: 81px 115px;
    }
    &.card-bg-blockchain{
      @include chart-card-bg();
      background-image:url(home_main_blockchain.png); 
      background-size: 89px 121px;
    }
    &.card-bg-hashrate{
      @include chart-card-bg();
      background-image:url(home_main_hashrate.png); 
      background-size: 97px 135px;
    }
  }
}